@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: Inter,sans-serif;
  --font-poppins: 'Poppins', sans-serif;

}

body{
  margin: 0;
  padding: 0;
}

/* Quita el icono del calendario en Chrome, Edge y Safari */
input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

/* 1. Definimos el ancho total del área de scroll */
.custom-scrollbar::-webkit-scrollbar {
    width: 12px; /* Un poco más ancho para tener margen de maniobra */
}

/* 2. El "Thumb" (la pieza que se mueve) */
.custom-scrollbar::-webkit-scrollbar-thumb {
    /* Usamos un color un poco más sólido para que no desaparezca */
    background-color: rgba(217, 217, 217, 0.4); 
    
    /* Redondeado total */
    border-radius: 10px;
    
    /* EL TRUCO PARA LLEVARLA AL INTERIOR: 
       Añadimos un borde transparente grueso. 
       Esto crea un "aire" a la derecha y a la izquierda de la barra. */
    border: 3px solid transparent;
    
    /* Esto es vital: obliga al color de fondo a no pintar sobre el borde transparente */
    background-clip: content-box; 
}

/* 3. Para que cuando pasen el ratón se vea más clara */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(217, 217, 217, 0.7);
}