.tarea-base{
    background-color: #007011;
    border: none;
}

/* 1. COMPLETADAS: Tachado y opacidad */
.tarea-completada {
    opacity: 0.7 !important;
}

/* Apuntamos al título y al contenedor del tiempo de FullCalendar */
.tarea-completada .fc-event-title, 
.tarea-completada .fc-event-main,
.tarea-completada .fc-event-time {
    text-decoration: line-through !important;
    color: #374151 !important; /* Un gris oscuro */
}

.tarea-completada {
    background-color: #4ade8055 !important;
    border: none !important;
}

/* 2. IMPORTANTES: Fondo rojo brillante */
.tarea-importante {
    background-color: #ef4444 !important;
    border: none !important;
}

.tarea-importante .fc-event-main {
    font-weight: bold !important;
    color: white !important;
}

/* 3. VENCIDAS: Amarillo */
.tarea-vencida {
    background-color: #facc15 !important;
    border: 1px solid #a16207 !important;
}

.tarea-vencida .fc-event-main,
.tarea-vencida .fc-event-title {
    color: #422006 !important; /* Texto oscuro para contraste */
}


/* Quitar el fondo, bordes y sombras a todos los botones del header */
.fc .fc-button {
    background-color: transparent !important;
    border: none !important;
    color: #007011 !important;
    box-shadow: none !important;
    transition: all 0.2s ease;
    text-transform: capitalize; /* "hoy" -> "Hoy" */
    font-weight: 600;
}

.fc .fc-button:hover{
    background-color: color-mix(in srgb, currentColor, transparent 85%) !important;
}

/* 1. Aplicar Inter a todo el calendario por defecto */
.fc {
    font-family: var(--font-inter) !important;
}

/* 2. Aplicar Poppins solo al título (Mes y Año) */
.fc .fc-toolbar-title {
    font-family: var(--font-poppins) !important;
    color: #007011 !important;
    font-weight: bold !important;
    font-size: 1.8rem !important;
    text-transform: capitalize;
}

/* 3. Opcional: Si quieres que los números de los días 
      también tengan un toque diferente */
.fc .fc-daygrid-day-number {
    font-family: var(--font-inter);
    font-weight: 500;
}

/* 1. Aseguramos que el contenedor sea el marco de referencia */
.calendar-custom-container {
    position: relative;
}

/* 2. Posicionamos el select exactamente a la altura del header */
.custom-select-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    /* Esta altura debe coincidir con la altura del toolbar de FullCalendar 
       para que se vea alineado verticalmente con las flechas */
    height: 40px; 
    display: flex;
    align-items: center;
    
}

/* 4. Estilo del select para que combine con los botones de 'Hoy' y flechas */
.custom-select-wrapper select {
    font-family: var(--font-inter);
    padding: 5px 10px;
    font-size: 14px;
    color: #007011;
    cursor: pointer;
    outline: none;
}

.fc .fc-day-today{
    background-color: rgba(0, 112, 17, 0.15) !important;
}